<div class="home-container">
    <div class="home-content">
        <h1 class="home-title">Olá Jonatas!</h1>
        <div class="home-wrapper">
            <div class="stories-container">
                <div class="stories-wrapper">
                    <div class="stories-card">
                        <div class="stories-card-img">
                            <p>jonatas_almeida00</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card que irá acompanhar a página-->
            <app-side-menu></app-side-menu>
        </div>
    </div>

    <app-side-buttons></app-side-buttons>
    

</div>
