<div class="register-container">
    <div class="register-content">
        <div class="register-wrapper">
            <form class="register-form">
                <label>Usuário</label>
                <input type="text">
                <label>Usuário</label>
                <input type="text">
                <label>Usuário</label>
                <input type="text">
                <label>Usuário</label>
                <input type="text">
                <button class="btn-register">Cadastrar</button>
            </form>
        </div>
    </div>
</div>