.side-menu{
    width: 350px;
    height: 450px;
    padding: 30px;
    background: white;
    box-shadow: 0px 5px 20px rgba($color: #000000, $alpha: 0.1);
    right: 100px;
    top: 150px;
    z-index: 99;
    border-radius: 5px;

    .user-card{
        width: 100%;
        height: 150px;
        padding: 20px;
        background: #f1f1f1;
        border-radius: 5px;

        .user-card-info{
            display: flex;
            align-items: center;

            .user-profile-img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #ddd;
                margin-right: 10px;
            }

            h3{
                font-size: 14pt;
            }
        }

        .btn-editar{
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 12pt;
            font-weight: bold;
            margin-top: 20px;
            background: #169bf3;
            color: white;
            transition: all .3s;
        }

        .btn-editar:hover{
            background: #1372b1;
        }

    }

    .instagram-trending-container{
        h3{
            font-weight: bold;
            margin-top: 30px;
        }

        .instagram-wrapper{
            list-style: none;

            li{
                margin: 10px 0px;
            }
        }
    }
}