<div class="side-menu">
    <div class="user-card">
        <div class="user-card-info">
            <div class="user-profile-img"></div>
            <h3>Jonatas Almeida</h3>
        </div>
        <button class="btn-editar">Editar</button>
    </div>
    <div class="instagram-trending-container">
        <h3>Trending Topics</h3>
        <ul class="instagram-wrapper">
            <li>Tópico 1</li>
            <li>Tópico 2</li>
            <li>Tópico 3</li>
            <li>Tópico 4</li>
            <li>Tópico 5</li>
        </ul>
    </div>
</div>
